.\#*
\#*
umls/work/*
disease/data/supervised.pdf
disease/data/unsupervised.csv
disease/data/unsupervised.pdf
quicklisp
bootstrap.lisp
bootstrap
.DS_store
.webcache
logic/macosx/*
.vagrant
*.save
site.retry
libnot